* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}

/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header h1 {
    font-size: 2.5rem;
    margin: 10px 20px;
    font-family: 'ReciaSerifDisplay';
}
#header nav {
    padding-right: 20px;
}
#header ul {
    display: inline-block;
    margin-left: 10px;
}

#header li {
    display: inline-block;
    margin-left: 10px;
}
#header li a {
    padding: 10px;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid #004586;
    text-align: center;
    line-height: 0.8;
    color: #004586;
    font-weight: bold;
}
#header li.active a {
    background-color: #004586;
    color: #fff;
}


/* main */
.main {
    min-height: 85vh;
    text-align: center;

}

/* search__wrap */
.search__wrap {
    margin: 0 auto;
    max-width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #6ca7dd;
    border-radius: 20px;
    background-color: #6ca7dd;
}
.search__title {
    text-align: center;
}
.search__title span {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    margin: 20px 0px;
}
.search__title h1 {
    font-family: 'Jalnan';
    font-size: 3.1rem;
}

.search__star {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}
.search__star ul {
    display: flex;
    flex-wrap: wrap;
}
.search__star li {
    margin: 0 auto;
    border: 4px solid #fff; 
    color: #003668;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.search__star li:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    border: 1px solid #003668; 
    background-color: #003668;
    color: #fff;
    
}
.search__star li span {
    font-size: 0.8rem;
    font-weight: 900;
}

.search__box {
    margin: 20px 0px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;   
}
#searchButton {
    display: inline-block;
    width: 19%;
    font-size: 1.1rem;
    padding: 0.8em 0;
    margin: 0 auto;
    border: 2px solid #003668;
    color: #fff;
    box-sizing: border-box;
    font-weight: bold;
    background-color: #3d7ab3;
    border-radius: 10px;
    cursor: pointer;
}
#searchButton:hover {
    transition: all 0.5s;
    background-color: #fff;
    border: 3px solid #003668;
    color: #003668;
    box-sizing: border-box;
}
.search__box label {
    display: none;
}
.search__box input {
    width: 80%;
    height: 55px;
    border: 2px solid #003668;
    border-radius: 10px;
    padding-left: 30px;
}
.search__box p {
    margin-top: 10px;
}
.search__box em {
    font-style: normal;
    text-decoration: underline;
    text-underline-position: under;
}

.search__select {
    margin: 30px auto;
}
.search__select span {
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 10px;
    border: 1px solid #7dafdd;
    background-color: #fff;
    color: #003668;
    line-height: 0.5;
    cursor: pointer;
}

.search__box__result {
    width: 100%;
    height: 5.8rem;
    margin-top: 20px;
    font-size: 1.25rem;
    border-top: 1px dashed #004586;
    border-bottom: 1px dashed #004586;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}


.search__info {
    width: 90%;
    text-align: right;
    border-bottom: 1px solid #004586;
    color: #4b4b4b;
}
.search__info span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    padding: 5px;
}
.search__list {
    width: 90%;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    font-size: 1.2rem;
}
.search__list span {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #fff; 
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.search__list span:hover {
    transform: scale(1.1);
    font-size: 1rem;
    background-color: #fff;
    color: #004586;
}
.search__list span.active {
    transform: scale(1.1);
    font-size: 1rem;
    background-color: #004586;
    color: #fff;
}
.search__list li.show {
    display: block;
}
.search__list li.hide {
    display: none;
}

.starlist {
    width: 100%;
}
.starlist li {
    display: block;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px;

}
.starlist li strong {
    font-size: 1.3rem;
}
.starlist li i {
    text-decoration: none;
    font-style: none;
    color: #0f477c;
    text-align: right;
}
.starlist li i span {
    display: none;
}



/* footer */
#footer {
    text-align: center;
    font-size: 14px;
}
#footer a {
    display: inline-block;
    color: #004586;
    padding: 40px;
}
#footer a:hover {
    text-decoration: underline;
    text-underline-position: under;
}