.swiper-slide {
    width: 1280px;
    height: 600px;
    display: flex;
}
.swiper-slide .s1 {
    background-image: url(../img/slide01.jpg);
}
.swiper-slide .s2 {
    background-image: url(../img/slide01.jpg);
}
.swiper-slide .s3 {
    background-image: url(../img/slide01.jpg);
}
.swiper-slide .s4 {
    background-image: url(../img/slide01.jpg);
}
.swiper-slide .s5 {
    background-image: url(../img/slide01.jpg);
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background: transparent !important;
    opacity: 1 !important;
    border: 4px solid #fff;
}
.swiper-pagination-bullet-active {
    background-color: #fff !important;
}
.swiper-button {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 1000;
    display: flex;
    margin-left: 40px;
}
.swiper-button-play {
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -40px -70px;
    display: block;
}
.swiper-button-stop {
    width: 16px;
    height: 16px;
    background-image: url(../img/slider_icon.svg);
    background-position: -60px -70px;
    display: block;
    margin-left: 5px;
}
