.join__inner {
    padding: 80px 0;
}
.join__inner h2 {
    font-size: 30px;
    text-align: center;
}
.join__from {
    padding: 10% 20%;
}
.join__from div {
    margin-bottom: 3em;
}
.join__from div label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

@media (max-width: 800px) {
    .join__from {
        padding: 5% 20px;
    }
}